{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME</h1>
    <button type="button" onclick="location.href='/register' ">회원가입</button>
    <button type="button" onclick="location.href='/login' ">로그인</button>
    <button type="button" onclick="location.href='/token' ">토큰</button>
    <button type="button" onclick="location.href='/user' ">유저</button>
</body>
</html>