<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Document</title>
</head>

<body>
    <h1>WELCOME </h1>
    <button type="button" onclick="location.href='/register' ">회원가입</button>
    {% if login_status == True%}
    <button type="button" onclick="location.href='/logout' ">로그아웃</button>
    {% else %}
    <button type="button" onclick="location.href='/login' ">로그인</button>
    {% endif %}
    <button type="button" onclick="location.href='/token' ">토큰</button>
    <button type="button" onclick="location.href='/user/own_user' ">내 정보</button>
    <button type="button" onclick="location.href='/user' ">유저 검색</button>
    <button type="button" onclick="window.location.href='/write_board'">글쓰기</button>
    <button type="button" onclick="window.location.href='/showpost_list'">글목록</button>
</body>

</html>

{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages[-1]}}")
</script>
{% endif %}
{% endwith %}