{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages[-1]}}")
</script>
{% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Register</title>
</head>

<body>
    <h1 id="title"></h1>
    <div class="container">
        <div class="row mt-5">
            <h1>로그인</h1>
        </div>
        <div class="row mt-5">
            <div class="col-12">

                <div id="form">

                    <div class="form-group">
                        <label for="useremail">이메일</label>
                        <input type="email" class="form-control" placeholder="example@gmail.com" id="useremail" placeholder="이메일" name="useremail" required />
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password" required />
                    </div>
                    
                    <button type="submit" onsubmit="return false;" class="login_btn" id="login_submit">등록</button>

                </div>
                <button type="button" onclick="location.href='/register' ">회원가입</button>
    
</body>

<script src="../static/js/login.js"></script>

</html>