{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages[-1]}}")
</script>
{% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <h1>회원가입</h1>
        </div>
        <div class="row mt-5">
            <div class="col-12">

                <form method="POST" action="http://localhost:8000/register">

                    <div class="form-group">
                        <label for="username">사용자 이름</label>
                        <input type="text" id="username" placeholder="사용자 이름" name="username" required />
                    </div>
                    <div class="form-group">
                        <label for="username">닉네임</label>
                        <input type="text" id="username" placeholder="닉네임" name="usernickname" required />
                    </div>
                    <div class="form-group">
                        <label for="useremail">이메일</label>
                        <input type="email" placeholder="example@gmail.com" id="useremail" placeholder="이메일"
                            name="useremail" required />
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" placeholder="비밀번호" name="password" required />
                    </div>
                    <div class="form-group">
                        <label for="re_password">비밀번호확인</label>
                        <input type="password" id="re_password" placeholder="비밀번호확인" name="re_password" required />
                    </div>
                    <div class="form-group">
                        <label for="profile">자기소개</label>
                        <input type="text" id="profile" placeholder="한줄 자기소개" name="profile" />
                    </div>
                    <button type="submit">등록</button>

                </form>
            </div>
        </div>
</body>

</html>