<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in post_content %}
    <p>board_num : {{ i[0] }}</p>
    <p>title : {{ i[1] }}</p>
    <p>content : {{ i[2] }}</p>
    <p>category : {{ i[3] }}</p>
    <p>max_team : {{ i[4] }}</p>
    <p>start_day : {{ i[5] }}</p>
    <p>create_day : {{ i[6] }}</p>
    <p>contect : {{ i[7] }}</p>
    <p>tech_stack : {{ i[8] }}</p>

    {{ if e}}
    <input type="button" value="게시글 삭제" onClick="location.href='/delete_post/{{ i[0] }}'">
    <input type="button" value="게시글 수정" onClick="location.href='/update_post/{{ i[0] }}'">
    {% endfor %}
</body>
</html>