<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Search</title>
</head>

<body>
    <h1>User Search</h1>

    <div id="search_user_nickname">
        <div class="form-group">
            <label for="search_user_name">유저 닉네임</label>
            <input type="text" class="form-control" id="search_user_name" name="search_user_name" required />
        </div>
        <button id="search_button" type="submit" class="btn btn-primary">확인</button>
    </div>

    <h3>유저 목록</h3>
    {% if search_result == True %}
    {% for i in search_user_nickname_list %}
    <div>
        <button>
            <option onClick="location.href='/user/other_user/{{ i }}'">{{ i }}</option>
        </button>
    </div>
    {% endfor %}
    {% else %}
    <h4>검색결과 없음</h4>
    {% endif %}
</body>
<script src="/static/js/search_user_nickname.js"></script>
</html>