<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Search</h1>

    <form method="POST" action="http://localhost:8000/user" >
        <div class="form-group">
            <label for="search_user_name">유저 닉네임</label>
            <input type="search_user_name" class="form-control" id="search_user_name" name="search_user_name" required/>
        </div>
        <button type="submit" class="btn btn-primary" >확인</button>
    </form>

    <h3>유저 목록</h3>
    {% for i in search_user_name %}
        <div>
            <button>
                <option onClick="location.href='/user/{{ i }}'">{{ i }}</option>
            </button>
        </div>
    {% endfor %}
</body>
</html>